* {
   margin: 0;
   padding: 0; 
}

body {
    background-color: #eee;
}



nav {
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    width: 100%;
    height: 100px;
    background-color: #fff;;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #666;
}

ul {
    margin: 0 auto;
    width: 960px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: right;
    color: #777;
    line-height: 100px;
    padding: 0 20px;
}

li a {
    display: block;
    text-decoration: none;
    padding: 0;
    color: inherit;
}

li a:hover {
    color: #4aaaa5;
}

div {
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    color: #777;
    background-color: #fff;
    
}

form {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 50 0 0 0;
    color: rgb(146, 145, 145);
    background-color: #666;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    text-align: center;
}

.foot-text {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    padding-top: 30px;
    

}

image {
    width: 100%;
}